{% include header.inc %}
<body>
<!--[if IE]><p class="browserupgrade">{{ site.browsehappy }}</p><![endif]-->
<div class="post-container">
<nav class="top-bar"><a href="{{ site.github.url }}{% link index.md %}" class="home" title="back">x</a><a href="{{ site.github.url }}{% link blog/index.html %}" class="home">post overview</a><h1>Martin Haug's Blog.</h1></nav>
<div class="post">
<h2>{{ page.title }}</h2>
<p class="info"><i class="fa fa-calendar"></i> {{ page.date | date_to_string }} <i class="fa fa-tag"></i> {% for category in post.categories %} {{category}} {% endfor %}</p>
{{ content }}
</div>
</div>
{% include footer.inc %}